body {
	width: 100%;
	height: auto;
	background: $body-background;
}

.body-container {
	max-width: $body-max-width;
	margin: auto;
}

.grid-container {
	@include outer-container;
}



.main-content-container {
	background-color: $body-background;
	margin-top: $margin-top-height;
}

.main-container {
	background-color: $pure-white;
}




.project-intro-container {
	@include span-columns(12);

}

.project-content-container {
	@include span-columns(12);
}

.project-intro-title {
	@include span-columns(8 of 12);
	@include shift(2);

	@media screen and (max-width: 768px){
		@include span-columns(12 of 12);
		@include shift(0);
    }
}

.project-intro-info {
	@include span-columns(8 of 12);
	@include shift(2);

	@media screen and (max-width: 768px){
		@include span-columns(12 of 12);
		@include shift(0);
    }

    &:last-child {
		margin-right: 0;
	}
}

.project-intro-sub {
	@include span-columns(2.6 of 8);
	float: left;


}

.project-content-row, .project-content-image {


	&.thirds {
		@include span-columns(4 of 12);

		@media screen and (max-width: 768px){
			@include span-columns(12 of 12);
	    }

	    img {
	    	margin: auto;
	    	display: block;
	    }
	}

	&.left, &.right {
		@include span-columns(6 of 12);

		@media screen and (max-width: 768px){
			@include span-columns(12 of 12);
	    }

	  	img {
			margin-top: 1.5em;
		}

	}


	&.centered {
		@include span-columns(8 of 12);
		@include shift(2);

		@media screen and (max-width: 768px){
			@include span-columns(6 of 8);
			@include shift(1);

	    }

		@media screen and (max-width: 480px){
			@include span-columns(4 of 4);
			@include shift(0);

	    }
	}

	&.centered-wide {
		@include span-columns(8 of 12);
		@include shift(2);

		@media screen and (max-width: 768px){
			@include span-columns(6 of 8);
			@include shift(1);

	    }

		@media screen and (max-width: 480px){
			@include span-columns(4 of 4);
			@include shift(0);

	    }
	}



    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
    }
    /* for text on sections with image backgrounds and dark overlay */

    &.bg-overlay {
    	z-index: 2;
    	position: relative;

    }
	

}

.project-content-image {

	&.img-grid {
		@include span-columns(12 of 12);
		@include shift(2);


	    @media screen and (max-width: 768px){
        	@include span-columns(12 of 12);
        	@include shift(1);

		}
	}

	    @media screen and (max-width: 768px){
        	@include span-columns(12 of 12);
    }
}

.img-box {
	@include span-columns(3 of 12);

	    @media screen and (max-width: 768px){
        	@include span-columns(3 of 12);
	}
}
