.main-container {
	margin-left: $side-bar-width;

	&.boost {
		margin-left: 0;
	}
}

section {

	&.project-intro {
		margin-top: $project-section-margin;
		@include outer-container;

	}

	&.project-content {
		@include outer-container;
	}



}

article {



	&.project-intro-title {
		@include span-columns(5);
		@include media($mobile) { 
    			@include span-columns(5);
    		}
	}

	&.project-info-process {
		@include span-columns(4);
				@include media($mobile) { 
    			@include span-columns(4);
    		}
	}

	&.project-info-visual-identity {
		@include span-columns(6);

		&.centered {
			@include shift(3);
		}
	}


}

aside {
	&.project-intro-background-info {
		@include span-columns(6);
		@include shift(1);
	}

	&.project-info-visual-identity {
		@include span-columns(4);
		@include shift(1);

	}
}

.img-box {
		@include span-columns(3);
  		@include omega(3n);
  		@include shift(1);
	}

