.main-nav-container {
	position: fixed;
	background-color: $body-background;
	width: 100%;
	max-width: $body-max-width;
	top: 0;
	height: $margin-top-height;
	padding-top: 25px;

	.main-nav {
		vertical-align: top;
		display: inline-block;
		width: inherit;
	}

	.main-nav-logo {
		display: inline;
	}

	ul {
		float: right;
		
		li {
			display: inline;
			list-style-type: none;

			&:not(:last-child) {
				padding-right: 20px;
			}
		}
	}
}
