.mobile-nav-container {
	width: 100%;
	position: fixed;
	height: 100px;
	background-color: $side-bar-background;

	@media screen and (min-width: 768px){
		display: none;
    }

}


.mobile-nav {
	color: $side-nav-link-color;

}