.project-grid-container, .main-content-container{
	margin-left: $side-bar-width;
	@media screen and (max-width: 768px){
		margin-left: 0;
    }

}

.project-tile {
	width: 100%;
	height: $project-tile-height;

	&.boost {
		background-color: $boost-orange;

	}

	&.cocktail {
		background-color: $cocktail-pink;
	}

	&.mml {
		background-color: $mml-red;

	}

	&.gopro {
		background-color: $gopro-blue;

	}

	&.personal {
		background-color: $personal-teal;
	}
}