.centered {
	text-align: center;
}

.project-content-container, .project-intro-container {
	float: none;
	padding-top: $project-section-padding;
	padding-bottom: $project-section-padding;

	&.grey {
		background-color: $lightest-grey-container;
	}

	&.boost-blue {
		background-color: $boost-blue;
	}
}