.project-grid-container {
	.project-tile {
		margin-bottom: 50px;
		position: relative;
		float: left;

		aside {
			position: absolute;
			width: 500px;
			top: 100px;	
			right: -400px;

		}

		@include span-columns(7 of 12);

		&.right {
			float: right;

			aside {
				text-align: right;
				left: -400px;

			}
		}
		
		@media screen and (max-width: 768px){
			@include span-columns(12);
			width: 700px;
    	}
	}

	@include outer-container;
}


.project-tile {
	width: 100%;
	height: $project-tile-height;

	&.boost {
		background-color: $boost-orange;

	}

	&.cocktail {
		background-color: $cocktail-pink;
	}

	&.mml {
		background-color: $mml-blue;

	}

	&.gopro {
		background-color: $gopro-blue;

	}

	&.redbull {
		background-color: $redbull-red;
	}

	&.personal {
		background-color: $personal-teal;
	}


}


