.project-info-grey-container {
	background-color: $lightest-grey-container;
	margin-top: $project-section-margin;
	padding-top: $project-section-padding;
	padding-bottom: $project-section-padding;
}

.centered {
	text-align: center;
}