article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
li,
main,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font: 16px sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  color: inherit;
  text-decoration: none;
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 240px;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999; }

p, h1, ul, ol, button {
  margin-bottom: 24px;
  line-height: 24px; }

@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Avenir/avenirltstd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Avenir/avenirltstd-book-webfont.woff") format("woff"), url("../../assets/fonts/Avenir/avenirltstd-book-webfont.svg#avenir") format("svg"); }
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Avenir/avenirltstd-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Avenir/avenirltstd-black-webfont.woff") format("woff"), url("../../assets/fonts/Avenir/avenirltstd-black-webfont.svg#avenir") format("svg"); }
@font-face {
  font-family: "lora";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Lora/Lora-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lora/Lora-Regular.woff") format("woff"), url("../../assets/fonts/Lora/Lora-Regular.ttf") format("truetype"), url("../../assets/fonts/Lora/Lora-Regular.svg#lora") format("svg"); }
@font-face {
  font-family: "lora";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Lora/Lora-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lora/Lora-Bold.woff") format("woff"), url("../../assets/fonts/Lora/Lora-Bold.ttf") format("truetype"), url("../../assets/fonts/Lora/Lora-Bold.svg#lora") format("svg"); }
@font-face {
  font-family: "lora";
  font-style: normal;
  font-weight: italic;
  src: url("../../assets/fonts/Lora/Lora-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Lora/Lora-Italic.woff") format("woff"), url("../../assets/fonts/Lora/Lora-Italic.ttf") format("truetype"), url("../../assets/fonts/Lora/Lora-Italic.svg#lora") format("svg"); }
@font-face {
  font-family: "freight";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.woff") format("woff"), url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.ttf") format("truetype"), url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.svg#freight") format("svg"); }
body {
  font: 100% "Avenir", sans-serif;
  color: #717171;
  font-style: normal; }

p.project-intro-background-info {
  font-size: 1.25em;
  line-height: 1.875em; }
p.project-intro-details {
  font-family: Georgia, serif;
  font-style: italic; }
p.light-text-on-dark {
  color: #FFFFFF; }

h1.project-intro-title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3em;
  color: #1F1F1F;
  line-height: 1em; }

h2 {
  font-size: 1em; }

h3 {
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-weight: 400; }

h6.project-intro-background-info, h2, h6.project-content-sub {
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.188em;
  color: #C6C6C6; }

a {
  font-family: "Avenir", sans-serif;
  color: inherit;
  letter-spacing: 0.188em; }
  a.side-nav {
    text-transform: uppercase;
    font-size: 1.125em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    a.side-nav:hover, a.side-nav:focus, a.side-nav:active {
      color: #FFFFFF; }

ul {
  padding: 0; }
  ul.side-nav-links {
    text-align: center;
    list-style-type: none;
    margin-top: 3.375em; }
    ul.side-nav-links li {
      margin-bottom: 3.375em; }

button {
  border: 0 none;
  color: #FFFFFF;
  padding: 1.5em 3em 1.5em 3em;
  text-transform: uppercase;
  letter-spacing: 0.188em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:hover, button:focus, button:active {
    outline: 0; }
  button.boost {
    background-color: #FEB787; }
    button.boost:hover, button.boost:focus, button.boost:active {
      background-color: #fecdab; }

.img-box {
  padding: 20px; }
  .img-box img {
    width: 150px;
    height: 150px;
    vertical-align: bottom; }

.main-container {
  margin-left: 240px; }
  .main-container.boost {
    margin-left: 0; }

section.project-intro {
  margin-top: 80px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.project-intro::after {
    clear: both;
    content: "";
    display: table; }
section.project-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.project-content::after {
    clear: both;
    content: "";
    display: table; }

article.project-intro-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  article.project-intro-title:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    article.project-intro-title {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 126.85574%; }
      article.project-intro-title:last-child {
        margin-right: 0; } }
article.project-info-process {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  article.project-info-process:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    article.project-info-process {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      article.project-info-process:last-child {
        margin-right: 0; } }
article.project-info-visual-identity {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  article.project-info-visual-identity:last-child {
    margin-right: 0; }
  article.project-info-visual-identity.centered {
    margin-left: 25.58941%; }

aside.project-intro-background-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%; }
  aside.project-intro-background-info:last-child {
    margin-right: 0; }
aside.project-info-visual-identity {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%; }
  aside.project-info-visual-identity:last-child {
    margin-right: 0; }

.img-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%; }
  .img-box:last-child {
    margin-right: 0; }
  .img-box:nth-child(3n) {
    margin-right: 0; }
  .img-box:nth-child(3n+1) {
    clear: left; }

.side-bar-container {
  width: 240px;
  position: fixed;
  height: 100%;
  background-color: #1F1F1F; }

.side-nav {
  height: inherit;
  color: #7D7D7D;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .side-nav img {
    text-align: center; }

.project-tile {
  width: 100%;
  height: 450px; }
  .project-tile.boost {
    background-color: #FEB787; }
  .project-tile.cocktail {
    background-color: #D776A4; }
  .project-tile.mml {
    background-color: #EC4F4F; }
  .project-tile.gopro {
    background-color: #4A90E2; }

.project-info-grey-container {
  background-color: #F9F9F9;
  margin-top: 80px; }

.centered {
  text-align: center; }

.project-info-container, .project-info-grey-container, .project-info-color-container {
  padding-top: 80px;
  padding-bottom: 80px; }

.project-info-color-container.boost {
  background-color: #134463; }

/*# sourceMappingURL=main.css.map */
