article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
li,
main,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font: 16px sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  color: inherit;
  text-decoration: none;
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6, h2 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

p, h1, ul, ol, button, figure {
  margin-bottom: 24px;
  line-height: 24px; }

@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Avenir/avenirltstd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Avenir/avenirltstd-book-webfont.woff") format("woff"), url("../../assets/fonts/Avenir/avenirltstd-book-webfont.svg#avenir") format("svg"); }
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Avenir/avenirltstd-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Avenir/avenirltstd-black-webfont.woff") format("woff"), url("../../assets/fonts/Avenir/avenirltstd-black-webfont.svg#avenir") format("svg"); }
@font-face {
  font-family: "freight";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.woff") format("woff"), url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.ttf") format("truetype"), url("../../assets/fonts/Freight/freighttextprobook-regular-webfont.svg#freight") format("svg"); }
@font-face {
  font-family: "freight italic";
  font-style: normal;
  font-weight: italic;
  src: url("../../assets/fonts/Freight/freighttext-bookitalic-webfont.woff") format("woff"); }
@font-face {
  font-family: "freight display";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Freight/f-disp-bold.woff") format("woff"); }
@font-face {
  font-family: "freight sans";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Freight/f-sans-book.woff") format("woff"); }
@font-face {
  font-family: "freight sans";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Freight/f-sans-bold.woff") format("woff"); }
body {
  font: 100% "Freight", Georgia, serif;
  color: #717171;
  font-style: normal; }

.project-intro-container h1 {
  font-family: "Freight Display", Georgia;
  font-weight: 400;
  font-size: 3em;
  color: #1F1F1F;
  line-height: 1em; }
.project-intro-container h4 {
  font-size: 1.5em;
  line-height: 2.25em;
  font-weight: 400; }
.project-intro-container p {
  font-family: 'Freight Italic'; }

p {
  font-size: 1.25em;
  line-height: 1.875em; }

h2 {
  font-size: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em; }

h3 {
  font-family: "Freight Display", Georgia;
  font-size: 2em;
  color: #717171;
  font-weight: bold; }

h6, h2 {
  font-family: "Freight Sans", "Avenir", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.188em;
  color: #C6C6C6;
  font-weight: bold; }

.project-content-container.dark p, .project-content-container.dark h3, .project-content-row.dark p, .project-content-row.dark h3 {
  color: #FFFFFF; }
.project-content-container.thirds p, .project-content-row.thirds p {
  text-align: center; }

a {
  font-family: "Freight Sans", "Avenir", sans-serif;
  color: inherit;
  letter-spacing: 0.188em; }
  a.side-nav {
    text-transform: uppercase;
    font-size: 1.125em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    a.side-nav:hover, a.side-nav:focus, a.side-nav:active {
      color: #FFFFFF; }

ul {
  padding: 0; }
  ul.side-nav-links {
    text-align: center;
    list-style-type: none;
    margin-top: 3.375em; }
    ul.side-nav-links li {
      margin-bottom: 3.375em; }

button {
  border: 0 none;
  color: #FFFFFF;
  padding: 1.5em 3em 1.5em 3em;
  text-transform: uppercase;
  letter-spacing: 0.188em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:hover, button:focus, button:active {
    outline: 0; }
  button.boost {
    background-color: #FEB787; }
  button.cocktail {
    background-color: #D44D5C; }
  button.mml {
    background-color: #1157AF; }

.img-box {
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .img-box {
      padding: 20px; } }
  .img-box img {
    width: 150px;
    height: 150px;
    vertical-align: bottom; }

.boost-typography-colors {
  width: 350px; }

/* GLOBAL IMAGES */
#p-fill, #background-fill {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #p-fill.default, #background-fill.default {
    fill: #FFFFFF; }
  #p-fill.boost, #background-fill.boost {
    fill: #FEB787; }
  #p-fill.cocktail, #background-fill.cocktail {
    fill: #D44D5C; }
  #p-fill.mml, #background-fill.mml {
    fill: #1157AF; }
  #p-fill.gopro, #background-fill.gopro {
    fill: #5EA9DC; }
  #p-fill.redbull, #background-fill.redbull {
    fill: #DB0A40; }
  #p-fill.personal, #background-fill.personal {
    fill: #55C3C2; }

.wireframe-bg-img {
  background: url("../../assets/img/wireframe-temp.jpg") center center no-repeat #fff;
  background-size: cover;
  position: relative; }

/* BOOST IMAGES */
/* 901 COCKTAILS */
.intro-cocktail-bg-img {
  background: url("../../assets/img/cocktail/cocktail-temp.jpg") center center no-repeat #fff;
  background-size: cover;
  position: relative; }
  .intro-cocktail-bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0; }

.ia-map-bg-img {
  background: url("../../assets/img/cocktail/ia-map.jpg") center center no-repeat #fff;
  background-size: cover;
  position: relative; }
  .ia-map-bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0; }

figure[name="paused-gif"] {
  position: relative;
  cursor: pointer; }
  figure[name="paused-gif"]::before {
    content: 'a';
    position: absolute;
    height: 50px;
    width: 50px;
    font-family: 'icon-font';
    border: 3px solid rgba(208, 208, 208, 0.7);
    border-radius: 25px;
    background-color: rgba(130, 130, 130, 0.3);
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    color: #FFFFFF;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
  figure[name="paused-gif"].play::before {
    display: none; }

body {
  width: 100%;
  height: auto;
  background: #000000; }

.body-container {
  max-width: 1456px;
  margin: auto; }

.grid-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .grid-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    .grid-container {
      max-width: 40.625em; } }
  @media screen and (max-width: 480px) {
    .grid-container {
      max-width: 26.25em; } }

@media screen and (min-width: 768px) {
  #main-content-container {
    margin-left: 240px; } }

.main-content-container {
  background-color: #FFFFFF; }

.project-intro-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .project-intro-container:last-child {
    margin-right: 0; }

.project-content-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .project-content-container:last-child {
    margin-right: 0; }

.project-intro-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .project-intro-title:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .project-intro-title {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .project-intro-title:last-child {
        margin-right: 0; } }

.project-intro-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%; }
  .project-intro-info:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .project-intro-info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .project-intro-info:last-child {
        margin-right: 0; } }

.project-content-row {
  /* for text on sections with image backgrounds and dark overlay */ }
  .project-content-row.thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .project-content-row.thirds:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .project-content-row.thirds {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .project-content-row.thirds:last-child {
          margin-right: 0; } }
    .project-content-row.thirds img {
      margin: auto;
      display: block; }
  .project-content-row.left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .project-content-row.left:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .project-content-row.left {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .project-content-row.left:last-child {
          margin-right: 0; } }
  .project-content-row.right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .project-content-row.right:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .project-content-row.right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .project-content-row.right:last-child {
          margin-right: 0; } }
  .project-content-row.centered {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .project-content-row.centered:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .project-content-row.centered {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        margin-left: 25.89467%; }
        .project-content-row.centered:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .project-content-row.centered {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 46.28851%;
        margin-left: 26.85574%; }
        .project-content-row.centered:last-child {
          margin-right: 0; } }
  .project-content-row.centered-wide {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .project-content-row.centered-wide:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .project-content-row.centered-wide {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 74.10533%;
        margin-left: 12.94733%; }
        .project-content-row.centered-wide:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .project-content-row.centered-wide {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%;
        margin-left: 26.85574%; }
        .project-content-row.centered-wide:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .project-content-row {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .project-content-row:last-child {
        margin-right: 0; } }
  .project-content-row.bg-overlay {
    z-index: 2;
    position: relative; }

.project-content-image.right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center; }
  .project-content-image.right:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .project-content-image.right {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .project-content-image.right:last-child {
        margin-right: 0; } }
.project-content-image.img-grid {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 17.05961%; }
  .project-content-image.img-grid:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .project-content-image.img-grid {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 8.5298%; }
      .project-content-image.img-grid:last-child {
        margin-right: 0; } }
@media screen and (max-width: 768px) {
  .project-content-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .project-content-image:last-child {
      margin-right: 0; } }

.img-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .img-box:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .img-box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .img-box:last-child {
        margin-right: 0; } }

.side-bar-container {
  width: 240px;
  position: fixed;
  height: 100%;
  background-color: #1F1F1F; }
  @media screen and (max-width: 768px) {
    .side-bar-container {
      display: none; } }

.side-nav {
  height: inherit;
  color: #7D7D7D;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .side-nav img {
    text-align: center; }

.main-content-container {
  margin-left: 240px; }
  @media screen and (max-width: 768px) {
    .main-content-container {
      margin-left: 0; } }

.project-tile {
  width: 100%;
  height: 450px; }
  .project-tile.boost {
    background-color: #FEB787; }
  .project-tile.cocktail {
    background-color: #D44D5C; }
  .project-tile.mml {
    background-color: #1157AF; }
  .project-tile.gopro {
    background-color: #5EA9DC; }
  .project-tile.redbull {
    background-color: #DB0A40; }
  .project-tile.personal {
    background-color: #55C3C2; }

.project-content-container, .project-intro-container {
  float: none;
  padding-top: 80px;
  padding-bottom: 80px; }
  .project-content-container.grey, .project-intro-container.grey {
    background-color: #F9F9F9; }
  .project-content-container.boost-blue, .project-intro-container.boost-blue {
    background-color: #134463; }
  .project-content-container.boost-orange, .project-intro-container.boost-orange {
    background-color: #EE9344; }
  .project-content-container.cocktail-purple, .project-intro-container.cocktail-purple {
    background-color: #773344; }

/*# sourceMappingURL=main.css.map */
