.img-box {
	padding: 10px;

	@media screen and (min-width: 768px){
		padding: 20px;
    }
	
	img {
		width: 150px;
		height: 150px;
		vertical-align: bottom;
	}
}

.boost-typography-colors {
	width: 350px;
}

/* GLOBAL IMAGES */

#p-fill, #background-fill { // vp logo color change
  	@include transition(all 0.25s ease-in-out);

  	&.default {
  		fill: $pure-white;
  	}

	&.boost {
		fill: $boost-orange;
	}

	&.cocktail {
		fill: $cocktail-pink;
	}

	&.mml {
		fill: $mml-blue;

	}

	&.gopro {
		fill: $gopro-blue;

	}

	&.redbull {
		fill: $redbull-red;
	}

	&.personal {
		fill: $personal-teal;
	}
}

.wireframe-bg-img {
	background: url("../../assets/img/wireframe-temp.jpg") center center no-repeat #fff;
	background-size: cover;
	position: relative;
}

/* BOOST IMAGES */


/* 901 COCKTAILS */

.intro-cocktail-bg-img {
	background: url("../../assets/img/cocktail/cocktail-temp.jpg") center center no-repeat #fff;
	background-size: cover;
	position: relative;
	@include overlay();

}

.ia-map-bg-img {
	background: url("../../assets/img/cocktail/ia-map.jpg") center center no-repeat #fff;
	background-size: cover;
	position: relative;
	@include overlay();

}
