.img-box {
	padding: 10px;

	@media screen and (min-width: 768px){
		padding: 20px;
    }
	
	img {
		width: 150px;
		height: 150px;
		vertical-align: bottom;
	}
}

.boost-typography-colors {
	width: 350px;
}