a {
	font-family: $sans-font-stack;
	color: inherit;
	letter-spacing: $sans-letter-spacing;


	&.main-nav {
		color: $pure-white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: $main-nav-font-size;
		padding: 0px 2px 0px 2px;
		@include transition (all 0.3s ease-in-out);

		&:hover, &:focus, &:active {
			color: $darkest-grey;
			background-color: $personal-teal;
			padding: 0px 2px 0px 2px;

		}
	
	}

	h1 {
		letter-spacing: 0px;
	}

}