a {
	font-family: $sans-font-stack;
	color: inherit;
	letter-spacing: $sans-letter-spacing;


	&.main-nav {
		color: $pure-white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: $main-nav-font-size;
		@include transition (all 0.3s ease-in-out);

		&:hover, &:focus, &:active {
			color: $pure-white;
			text-decoration: underline;

		}
	
	}

	h1 {
		letter-spacing: 0px;
	}

}