// Baseline Grid

p, h1, ul, ol, button, figure{
	margin-bottom: $base-font-size * 1.5;
	line-height: $base-font-size * 1.5;
}



// Import Fonts

@include font-face("avenir", "../../assets/fonts/Avenir/avenirltstd-book-webfont", $file-formats: eot woff svg);
@include font-face("avenir", "../../assets/fonts/Avenir/avenirltstd-black-webfont", bold, $file-formats: eot woff svg);

@include font-face("freight", "../../assets/fonts/Freight/freighttextprobook-regular-webfont", normal, $file-formats: eot woff ttf svg);
@include font-face("freight italic", "../../assets/fonts/Freight/freighttext-bookitalic-webfont", italic, $file-formats: woff);
@include font-face("freight display", "../../assets/fonts/Freight/f-disp-bold", bold, $file-formats: woff);
@include font-face("freight sans", "../../assets/fonts/Freight/f-sans-book", normal, $file-formats: woff);
@include font-face("freight sans", "../../assets/fonts/Freight/f-sans-bold", bold, $file-formats: woff);


// Font Styling

body {
	font: 100% $sans-font-stack;
	color: $main-body-font-color;
	font-style: normal;
}


.project-intro-container{
	h1 {
		font-family: $serif-font-stack;
		font-weight: 400;
		font-size: 4em;
		color: $darkest-grey;
		line-height: 1em;
	}

	h4 {
		font-size: 1.5em;
		line-height: 1.5em * 1.5;
		font-weight: 400;
	}

	p {
		font-family: 'Freight Italic';
	}
}

p {
	font-size: 1.25em;
	line-height: 1.25em * 1.5;
}


h2 {
	font-size: 1em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	@extend h6;

}

h3 {
	font-family: $serif-font-stack;
	font-size: 2em;
	color: $darkest-grey;
	font-weight: bold;
}


h6 {
	font-family: $sans-font-stack;
	text-transform: uppercase;
	letter-spacing: $sans-letter-spacing;
	color: $uppercase-content-headers;
	font-weight: bold;

}


.project-content-container, .project-content-row  {

	&.dark {
		p, h3 {
			color: $pure-white;
		}
	}

	&.thirds {
		p {
			text-align: center;
		}
	}

}