// Baseline Grid

p, h1, ul, ol, button, figure{
	margin-bottom: $base-font-size * 1.5;
	line-height: $base-font-size * 1.5;
}



// Import Fonts

@include font-face("avenir", "../../assets/fonts/Avenir/avenirltstd-book-webfont", 400, normal, $file-formats: eot woff svg);
@include font-face("avenir", "../../assets/fonts/Avenir/avenirltstd-black-webfont", 700, normal, $file-formats: eot woff svg);
@include font-face("freight", "../../assets/fonts/Freight/freighttextprobook-regular-webfont", 400, normal, $file-formats: eot woff ttf svg);
@include font-face("freight", "../../assets/fonts/Freight/freighttext-bookitalic-webfont", 400, italic, $file-formats: woff);
@include font-face("freight sans", "../../assets/fonts/Freight/f-sans-book", 400, normal, $file-formats: woff);
@include font-face("freight sans", "../../assets/fonts/Freight/f-sans-bold", 700, normal, $file-formats: woff);
@include font-face("freight big", "../../assets/fonts/Freight/Freight-BigBook", 400, normal, $file-formats: eot woff ttf);
@include font-face("freight big", "../../assets/fonts/Freight/Freight-BigBookItalic", 400, italic, $file-formats: eot woff ttf);
@include font-face("playfair", "../../assets/fonts/Playfair/PlayfairDisplay-Bold-webfont", 700, normal, $file-formats: eot woff ttf);


// Font Styling

body {
	font: 100% $sans-font-stack;
	color: $main-body-font-color;
	font-style: normal;
}


.project-intro-container{
	h1 {
		font-family: 'Playfair';
		font-weight: 700;
		font-size: 4em;
		color: $darkest-grey;
		line-height: 1em;
		margin-top: -115px;
		text-align: center;
		text-transform: uppercase;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	h4 {
		font-family: $serif-font-stack;
		font-size: 1.5em;
		line-height: 1.5em * 1.5;
		font-weight: 400;
	}

	p {
		@extend .sub;
	}
}

p {
	font-size: 1.25em;
	line-height: 1.25em * 1.5;

	&.sub {
		font-size: 1em;
		line-height: 1.5em;
		max-width: 300px;
	}
}


h2 {
	font-size: 1em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	@extend h6;

}

h3 {
	font-family: $serif-heading-font-stack;
	font-size: 2.15em;
	color: $darkest-grey;
	font-weight: 400;

	&.centered { 
		text-align: center;
	}
}


h6 {
	font-family: $sans-font-stack;
	text-transform: uppercase;
	letter-spacing: $sans-letter-spacing;
	color: $uppercase-content-headers;
	font-weight: bold;

}



.project-content-container, .project-content-row  {

	&.dark {
		p, h3 {
			color: $pure-white;
		}
	}

	&.thirds {
		p {
			text-align: center;
		}
	}

}

/* Highlight */

::-moz-selection {
       background-color: $darkest-grey;
       color: $pure-white;
}

::selection {
       background-color: $darkest-grey;
       color: $pure-white;
}