// Main Color Hex Codes

$darkest-grey: #1F1F1F;
$lightest-grey: #C6C6C6;

// Corresponding Component Colors

$side-bar-background: $darkest-grey;
$side-bar-link-color: $lightest-grey; 

// Font Colors

$main-body-font-color: $darkest-grey;

// Project Colors

$boost-orange: #FEB787;
$boost-blue: #134463;

$gopro-blue: #4A90E2;

$cocktail-pink: #D776A4;

$mml-red: #EC4F4F;