// Main Color Hex Codes

$darkest-grey: #1F1F1F;
$dark-grey: #717171;
$grey: #7D7D7D;
$lightest-grey: #C6C6C6;
$grey-white: #F9F9F9;
$pure-white: #FFFFFF;
$pure-black: #000000;

// Corresponding Component Colors

$body-background: $darkest-grey;
$side-bar-background: $darkest-grey;
$main-nav-background: $darkest-grey;
$main-nav-link-color: $pure-white;

// Font Colors

$main-body-font-color: $dark-grey;
$uppercase-content-headers: $lightest-grey;

// Project Colors

$boost-orange: #FEB787;
$boost-dark-orange: #EE9344;
$boost-blue: #134463;

$gopro-blue: #5EA9DC;

$cocktail-pink: #D44D5C;
$cocktail-purple: #773344;

$mml-blue: #1157AF;

$redbull-red: #DB0A40;

$personal-teal: #55C3C2;

// Project Section Colors

$lightest-grey-container: $grey-white;