// Main Color Hex Codes

$darkest-grey: #1F1F1F;
$dark-grey: #717171;
$grey: #7D7D7D;
$lightest-grey: #C6C6C6;
$grey-white: #F9F9F9;
$pure-white: #FFFFFF;

// Corresponding Component Colors

$side-bar-background: $darkest-grey;
$side-nav-link-color: $grey;

// Font Colors

$main-body-font-color: $dark-grey;
$uppercase-content-headers: $lightest-grey;

// Project Colors

$boost-orange: #FEB787;
$boost-blue: #134463;

$gopro-blue: #4A90E2;

$cocktail-pink: #D776A4;

$mml-red: #EC4F4F;

$personal-teal: #55C3C2;

// Project Section Colors

$lightest-grey-container: $grey-white;