// MODULES

$side-bar-width: 240px;
$project-tile-height: 450px;
$project-section-margin: 80px;
$project-section-padding: 80px;

// FONTS

$sans-font-stack: 'Freight Sans', 'Avenir', sans-serif;
$serif-font-stack: 'Freight', Georgia, serif;
$serif-heading-font-stack: 'Freight Display', 'Freight Big', Georgia;

// FONT SIZES

$baseline-multiplier: 1.5;
$side-bar-nav-font-size: 1.125em;
$sans-letter-spacing: 0.188em;

// MEDIA QUERIES

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);